/* color scheme sourced from http://khroma.co/generator/ */
/* Feel free to use the following theme or experiment with your own. */
:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}
